@import "tailwindcss";

@theme {
  --main-font: "Noto Sans Arabic", sans-serif;
  --header-fonts: "SST Arabic", sans-serif;
  --color-primary: #22a3d1;
  --color-secondary: #e6b626;
  --color-blue-600: #0e2a46;
  --color-natural-25: #fff;
  --color-natural-75: #f7fafc;
  --color-natural-900: #0e0e0e;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-natural-100);
  color: var(--color-natural-800);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-fonts);
}

@layer base {
  .iti {
    width: 100%;
    .iti__country-list {
      left: 0;
      width: 300px;
      @media screen and (min-width: 1024px) {
        width: 472px;
      }
      @media screen and (min-width: 1280px) {
        width: 576px;
      }
    }
    #phoneInput {
      text-align: end;
      padding-inline-end: 24px !important;
    }
  }
  .iti--separate-dial-code .iti__selected-flag {
    background-color: transparent !important;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -12px;
      transform: translateY(-50%);
      width: 1px;
      height: 20px;
      background-color: var(--color-natural-300);
    }
  }
  .container {
    @apply px-4! mx-auto;
  }
  :is(button, a, input):focus-visible {
    @apply outline-2 outline-offset-2 outline-primary;
  }
  button {
    @apply cursor-pointer;
  }
  @media (max-width: 1023px) {
    [data-hide-mobile] {
      display: none !important;
    }
  }
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .main-font {
    font-family: var(--main-font) !important;
  }
  .header-font {
    font-family: var(--header-fonts) !important;
  }
  .section-content-visibility {
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
  }
  .custom-scroll {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) transparent;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent; /* مهم */
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 9999px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-dark);
  }
}
